h1 { border-bottom:solid; width: 50%}

img[src$="p007.jpg"]{float:right; margin-left: 10px;}

.xxx{color:#ff0000; }

.yoko{
background: -webkit-repeating-linear-gradient(
    90deg,     
    	#FFDFDD,      
    	#FFDFDD 40px,  
    white 40px,    
    white 80px 
  );
  
}
.blue {color:#0000FF;}
h2.blue {background-color:blueviolet;}


